<!-- Event page template -->
{% extends 'base.html' %}

{% block content %}
<section id="eventContainer">
    <section id="eventCard">
        <section id="eventTitles">
            <!-- Event titles will be dynamically populated -->
        </section>
        <section id="eventHost">
            <!-- Event host will be dynamically populated -->
        </section>      
        <section id="eventDescription">
            <!-- Event description will be dynamically populated -->
        </section>
        <section id="eventLocation">
            <!-- Event location will be dynamically populated -->
        </section>
        <section id="eventDate">
            <!-- Event date will be dynamically populated -->         
        </section>
        <section id="eventTime">
            <!-- Event time will be dynamically populated -->         
        </section>  
    </section>
</section>
{% endblock %}