<!-- Event page template -->
{% extends 'base.html' %}

{% block content %}
<section class="eventContainer">
    <section id="eventTitles">
        <!-- Event titles will be dynamically populated -->
    </section>
    <section id="eventDescription">
        <!-- Event description will be dynamically populated -->
    </section>
    <section id="eventHost">
        <!-- Event host will be dynamically populated -->
    </section>
    <section id="eventLocation">
        <!-- Event location will be dynamically populated -->
    </section>
</section>
{% endblock %}