<!-- Header template -->
 <header>
    <!-- NavBar -->
    <!-- Hamburger Menu -->
    <div class="menu-icon" onclick="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
  </div>

  <!-- Vertical Navigation Bar -->
  <nav id="navMenu" class="nav-menu">
      <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
  </nav>
  <section id="logo-img">
    <link rel="icon" type="image/png" href="/images/logo.png">
  </section>

    <section id="filter">
      <label for="distance-placeholder">
        <!-- Current location to be added dynamically -->
      </label>
      <section id="distance-filter">
        <!-- Distance to be filtered dynamically -->
      </section>
    </section>
    <section id="event-adder">
      <button id="eventAdder">Add Event</button>
      <!-- Event added button img to be added through CSS -->
    </section>

    <!-- Log in Button -->
     <section id="login">
      <button id="loginButton">Log In</button>
      <!-- Log In button will be hidden dynamically when user
       is already logged in -->
     </section>

     <!-- Sign Up Button -->
      <section id="signup">
        <button id="signupButton">Sign Up</button>
        <!-- Button will be hidden dynamically -->
      </section>
      <script src="/static/js/app.js"></script>
 </header>