<header>
  <!-- Hamburger Menu -->
  <div id="menuToggle">
    <!-- Hidden Checkbox -->
    <input type="checkbox" id="menuToggleCheckbox">

    <!-- Hamburger Icon -->
    <label id="burger" for="menuToggleCheckbox">
        <div></div>
        <div></div>
        <div></div>
    </label>

    <!-- Sliding Menu -->
    <nav id="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Host Events</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">My Events</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
  </div>

  <!-- Logo and other sections -->
  <section id="logo-img">
      <link rel="icon" type="image/png" href="/images/logo.png">
  </section>

  <section id="filter">
      <label for="distance-placeholder"></label>
      <section id="distance-filter"></section>
  </section>

  <section id="event-adder">
      <button id="eventAdder">Add Event</button>
  </section>

  <section id="login">
      <button id="loginButton">Log In</button>
  </section>

  <section id="signup">
      <button id="signupButton">Sign Up</button>
  </section>

  <script src="/static/js/app.js"></script>
</header>
