<!-- Index template-->
{% extends 'base.html' %}

{% block content %}
<div class="container">
   <main>
    <section id="call_to_action">
    <h1>Lorem ipsum odor amet, consectetuer adipiscing elit.</h1>
    <h3>Lorem ipsum odor amet, consectetuer adipiscing elit.
        Facilisis quis adipiscing rutrum semper; pharetra
        montes egestas. Consectetur risus quis nec vehicula
        dolor natoque. Vehicula himenaeos scelerisque non
        bibendum platea mollis magna ornare.
    </h3>
</section>
<div id="signup-container">
    <button type="button">Join Our Community</button>
</div>
</main> 
</div>

{% endblock %}