<!-- Login Template -->
{% extends 'base.html' %}

{% block content %}
 <div class="container">
    <main>
        <!-- Branding image -->
        <section id="map-image">
            <img class="img-responsive" src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="placeholde"
            width="460" height="345">
        </section>
        <!-- Log in dropdown form-->
        <section id="log-in">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Login <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <form action="/action_page.php">
                        <div class="form-group">
                            <li><label for="email">Email:</label></li>
                            <li><input type="email" class="form-control" id="email" placeholder="Enter Email" name="email"></li>
                        </div>
                        <div class="form-group">
                            <li><label for="pwd">Password:</label></li>
                            <li><input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd"></li>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="remember">Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </ul>
              </div>
        </section>
        <section id="sign-up">
            <button type="button" class="btn btn-prymary btn-lg btn-block">Signup</button>
        </section>
    </main>    
 </div>
 {% endblock %}