<!-- Sign up template -->
{% extends 'base.html' %}

 {% block content %}

 <div class="signup-container">
    <main>
        <!-- Branding image -->
         <section class="mountains-img">
            <img id="bg-img" src="{{ url_for('static', filename='images/bg-mountains.png') }}" alt="Green Mountains">
         </section>
         <!-- Sign up form-->
          <section class="signup-form">
                <div class="form-group">
                    <!-- First name -->
                  <input type="first-name" class="form-control" id="first-name" placeholder="First Name" name="first-name">
                </div>
                <div class="form-group">
                    <!-- Last Name -->
                  <input type="last-name" class="form-control" id="last-name" placeholder="Last name" name="last-name">
                </div>
                <div class="form-group">
                    <!-- Email -->
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                  </div>
                <div class="form-group">
                    <!-- Password-->
                     <input type="pwd" class="form-control" id="pwd" placeholder="New password" name="pwd">
                </div>
                <div class="container mt-5">
                    <div class="datepicker-container">
                        <select class="form-select" id="month" aria-label="Select Month">
                            <option selected>Month</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <!-- Day Dropdown -->
                         <select class="form-select" id="day" aria-label="Select Day">
                            <option selected>Day</option>
                            <!-- Days will be populated dynamically -->
                         </select>
                        <!-- Year Dropdown -->
                        <select class="form-select" id="year" aria-label="Select Year">
                            <option selected>Year</option>
                            <!-- Years will be populated dynamically -->
                        </select>
                    </div>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="remember">Are you a host?</label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
          </section>
          <div id="dialog" title="Sign Up Unsuccesful">
            <span class="close">&times;</span>
            <p>The information given already matches an user.</p>
          </div>
    </main>
 </div>
 {% endblock %}